# App
NODE_ENV=development
PORT=3000

# PostgreSQL

# Docker host Postgres
POSTGRES_USER=chakula
POSTGRES_PASSWORD=pass
POSTGRES_DB=chakula
POSTGRES_HOST=192.168.100.46
POSTGRES_PORT=5432

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=pass

# JWT
JWT_ACCESS_SECRET=replace-with-64-char-random-hex-secret-for-access-tokens-here!!
JWT_REFRESH_SECRET=replace-with-64-char-random-hex-secret-for-refresh-tokens-here!
JWT_ACCESS_EXPIRY=120m
JWT_REFRESH_EXPIRY=7d

# Rate Limiting
RATE_LIMIT_WINDOW_MS=60000
RATE_LIMIT_MAX_REQUESTS=200

# Food Knowledge Base API
KNOWLEDGE_BASE_URL=http://127.0.0.1:8000
KNOWLEDGE_BASE_API_KEY=replace-with-your-api-key-here


## ============ AWS ============== ##
##================================ ##
# ── S3 + Rekognition ──
S3_AWS_ACCESS_KEY_ID=AKIA23Wsdv
S3_AWS_SECRET_ACCESS_KEY=eVGOxxyJHdfvfv
S3_AWS_REGION=ap-south-1
S3_BUCKET_NAME=hfbfgbgf

# ── SES ──
SES_AWS_ACCESS_KEY_ID=AKIA23WHdfvdsv
SES_AWS_SECRET_ACCESS_KEY=Gd+gmhbPsPsdfv
SES_REGION=ap-south-1
EMAIL_FROM=fgbfbfgb

